.detail-specialty-container {
    background-color: #eaeaea;
    margin-bottom: 0;
    padding-bottom: 2rem;

    .detail-specialty-body {


        .detail-specialty-content {
            background-color: #fff;
            padding: 3rem;
            border-radius: 1rem;
            min-height: 30rem;
            box-shadow: 0 0.3rem 1.3rem rgba(0, 0, 0, 0.3);
            margin-top: 2rem;



            .detail-specialty-each-doctor {
                display: flex;
                width: 100%;

                .detail-specialty-content-left {
                    width: 50%;
                    border-right: 1px solid #eaeaea;
                    padding-right: 1rem;
                }

                .detail-specialty-content-right {
                    width: 50%;
                    margin-left: 1rem;

                    .detail-specialty-doctor-schedule {}

                    .detail-specialty-doctor-extra-info {}
                }
            }
        }

        .description-specialty {
            
            padding: 2rem;
            background-color: #fff;
            box-shadow: 0 0.3rem 1.3rem rgba(0, 0, 0, 0.3);
            border-radius: 1rem;
            .description-specialty-info {
                font-size: 1.2rem;
            }
        }

        .search-doctor-specialty {
            box-shadow: 0 0.3rem 1.3rem rgba(0, 0, 0, 0.3);

        }
    }
}