.manage-specialty-container {
    height: 120vh;
    width: 100vw;
    background-color: #eaeaea;
    
    .manage-specialty-title {}

    .manage-content-specialty {
        label {
            text-transform: uppercase;
            font-weight: 600;
        }

        box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
        background-color: #fff;
        padding: 1rem;
        border-radius: 1rem;
        margin-bottom: 2rem;

        .mdEditor {
            border: 1px solid #ccc;
            border-radius: 1rem;

        }

        .rc-md-editor .rc-md-navigation {
            color: white !important;
            background-color: #0093E9;
            background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);

            .button-wrap .rmel-iconfont {
                color: white;
                font-size: 20px;
            }
        }
    }
}