.manage-user-redux-container {
    .modal {
        .modal-dialog {
            .modal-content {
                .preview-avatar {
                    height: 6rem;
                    width: 6rem;
                    
                    border-radius: 50%;
                    background-position: center;
                    background-repeat: no-repeat;
                    background-size: cover;
                }
            }
        }
    }

}